<div class="flex flex-col min-h-screen px-10 w-full" [ngStyle]="{'background-color': layout.bgColor}">

  <div data-aos="fade-up" class="w-full h-[40vh] bg-cover bg-center rounded-2xl mt-20">
    <div  class="w-full h-full bg-black bg-opacity-70 gap-4 flex flex-col rounded-2xl justify-center items-center px-56 max-xl:px-10">
      <h1 data-aos="fade-down" data-aos-delay="600" class="w-full max-md:text-4xl max-sm:text-3xl text-center max-sm:w-full text-5xl  font-medium" [ngStyle]="{'color': layout.bannerFontColor}">
        Ministérios
      </h1>
      <hr class="w-10 border-[1px]">
    </div>
  </div>


  <div class="w-full h-full items-center justify-center flex px-56 max-lg:px-0 mt-10" *ngFor="let mission of missions">

    <div data-aos="fade-right"
         class="w-5/6 py-5 items-center rounded-2xl max-xl:gap-5 gap-0 flex justify-center transition-all duration-300"
         [ngStyle]="{'background-color': layout.bgColor}"
         [ngClass]="'mission-item'">

      <div class="w-1/3 max-lg:w-full flex justify-center">
        <img class="w-full max-w-80 border-[1px] p-1 rounded-xl object-contain" src="{{mission.image}}">
      </div>

      <div class="flex gap-3 justify-center flex-col w-1/2">
        <div class="flex flex-col gap-5 w-full" [ngStyle]="{'color': layout.fontColor}">

          <!-- Aplica a classe text-wrap aqui -->
          <p class="text-3xl text-wrap w-full font-medium">{{truncateContent(mission.title!, 30)}}</p>

          <!-- Aplicando a classe text-wrap na descrição -->
          <p class="text-md flex h-full w-full items-center text-wrap break-words">
            {{truncateContent(mission.description!, 200)}}
          </p>

          <div class="flex gap-5" [ngStyle]="{'color': layout.fontColor}">
            <div class="flex flex-col">
              <span class="text-xs">Dia</span>
              <h3>{{mission.day}}</h3>
            </div>
            <div class="flex flex-col">
              <span class="text-xs">Horário</span>
              <h3>{{mission.time}}</h3>
            </div>
          </div>

          <div class="w-fit hover:cursor-pointer">
            <a class="text-sm">Saiba mais</a>
            <hr class="w-8" [ngStyle]="{'border-color': layout.fontColor}">
          </div>

        </div>
      </div>

    </div>
  </div>







</div>
