<div class="flex flex-col min-h-screen px-10 w-full" [ngStyle]="{'background-color': layout.bgColor}">

  <div data-aos="fade-up" class="w-full h-[40vh] mb-16 sm:mb-32 bg-cover bg-center rounded-2xl mt-20">
    <div [ngStyle]="{'background-image': 'url(' + missionTop.image!.toString() + ')'}" class="bg-cover bg-center w-full h-full bg-black bg-opacity-70 gap-1 flex flex-col rounded-2xl justify-center items-center px-6 sm:px-20 max-xl:px-10">
      <h1 data-aos="fade-down" data-aos-delay="600" class="w-full text-4xl sm:text-5xl text-center font-medium" [ngStyle]="{'color': layout.bannerFontColor}">
        Ministérios
      </h1>
      <hr class="w-10 border-[1px]">
    </div>
  </div>

  <div class="w-full h-full items-center justify-center flex mt-5" *ngFor="let mission of missions">
    <div data-aos="fade-right"
         class=" py-5 items-center rounded-2xl h-fit border-[1px] px-10 w-2/3 max-lg:w-full max-md:flex-col gap-5 flex justify-center transition-all duration-300"
         [ngStyle]="{'background-color': layout.bgColor}"
         [ngClass]="'mission-item'">

      <div class="w-full h-full flex justify-center">
        <img class="w-full max-md:h-40 max-w-80 max-md:max-w-none p-1 rounded-xl object-cover" [src]="mission.image">
      </div>

      <div class="flex gap-3 justify-center ml-6 sm:ml-10 flex-col w-full">
        <div class="flex flex-col gap-5 w-full" [ngStyle]="{'color': layout.fontColor}">

          <p class="text-xl sm:text-3xl text-wrap w-full font-medium">{{truncateContent(mission.title, 30)}}</p>

          <p class="text-md flex h-full w-full items-center text-wrap break-words">
            {{truncateContent(mission.description!, 200)}}
          </p>

          <div class="flex gap-5" [ngStyle]="{'color': layout.fontColor}">
            <div class="flex flex-col gap-1">
              <span class="text-xs">Dia</span>
              <h3>{{mission.day}}</h3>
            </div>
            <div class="flex flex-col gap-1">
              <span class="text-xs">Horário</span>
              <h3>{{mission.time}}</h3>
            </div>
          </div>

          <div class="flex flex-col gap-1">
            <span class="text-xs flex gap-1">
              <svg xmlns="http://www.w3.org/2000/svg" height="14px" viewBox="0 -960 960 960" width="14px" fill="currentColor">
                <path d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 294q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z"/>
              </svg>
              Localização
            </span>
            {{truncateContent(mission.location, 200)}}
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
