<div class="flex justify-between px-10 py-4 w-full bg-white bg-opacity-90 backdrop-blur-md fixed top-0 left-0 z-10">
  <div class="">
    <img class="w-12" src="/pibaf.png" alt="Logo">
  </div>
  <div class="flex justify-center">
    <ul class="flex gap-5 justify-center items-center">
      <li class="hover:cursor-pointer border-b-2 border-transparent hover:border-black">Home</li>
      <li class="hover:cursor-pointer border-b-2 border-transparent hover:border-black">Sobre</li>
      <li class="hover:cursor-pointer border-b-2 border-transparent hover:border-black">Eventos</li>
      <li class="hover:cursor-pointer border-b-2 border-transparent hover:border-black">Noticias</li>
      <li class="hover:cursor-pointer border-b-2 border-transparent hover:border-black">Cultos</li>
    </ul>
  </div>
</div>
