<div [formGroup]="bannerForm" class="w-[calc(100svw)] mt-5 py-10 max-sm:px-10 max-xl:px-20  h-full items-center gap-2 flex flex-col">
  <div class="w-2/3 max-xl:w-full flex flex-col justify-center">
    <div class="w-full text-2xl">Configurações</div>
    <div class="w-full text-lg text-neutral-400">Ajustes da Base</div>
  </div>
  <div class="max-xl:w-full w-2/3  flex justify-center flex-col h-full gap-4 items-center">

    <div class="w-full flex justify-end">
      <label class="form-control max-xl:w-full w-1/2 flex gap-1 flex-col items-start">
        <div class="label p-0">
          <span class="label-text text-neutral-600">Nome de exibição</span>
          <span class="text-red-400">*</span>

        </div>
        <input formControlName="title" type="text" placeholder="Informe o nome de exibição desejado" class="input bg-white input-md input-bordered w-full" />
      </label>
    </div>

    <div class="w-full flex justify-end">
      <label class="form-control max-xl:w-full w-1/2 flex gap-1 flex-col items-start">
        <div class="label p-0 ">
          <span class="label-text text-neutral-600">URL de redirecionamento</span>

        </div>
        <input formControlName="url" type="text" placeholder="Informe um URL de redirecionamento" class="input input-md bg-white input-bordered w-full" />
      </label>
    </div>

    <div class="w-full flex justify-end">
      <label class="form-control max-xl:w-full w-1/2 flex flex-col gap-1 items-start">
        <div class="label p-0">
          <span class="label-text text-neutral-600">Logo</span>
          <span class="text-red-400">*</span>
        </div>
        <div class="w-full flex justify-end">
          <input (change)="onFileChange($event)" type="file" class="file-input text-neutral-600 file-input-ghost bg-white file-input-bordered file-input-md w-full border-neutral-300 border-[calc(1px)]" />

        </div>
        <div class="w-full flex justify-between">
          <span class="text-neutral-600 text-sm">Tamanho recomendado: 1920x1080</span>
          <span class="text-neutral-600 text-sm">Formato recomendado: .jpg, .png</span>
        </div>

        <div class="w-full flex gap-4 flex-col mt-4 ">
          <span class="text-sm">Foto atual</span>
          <img src="{{bannerImage}}" alt="Banner" class=" border-[calc(1px)] p-5 w-full h-[calc(20rem)] object-contain" />
        </div>

      </label>
    </div>

    <div class="w-full flex justify-end">
      <div class="w-1/2 max-xl:w-full max-md:flex-col-reverse flex gap-4 justify-end">
        <button class="w-1/3 max-xl:w-full text-neutral-600 hover:text-neutral-400 btn btn-md bg-neutral-100">
          Cancelar
        </button>
        <button (click)="submit()" class="w-1/3 max-xl:w-full btn btn-md bg-neutral-900 text-white">
          Salvar
          <span *ngIf="loading" class="loading loading-spinner loading-xs"></span>
        </button>
      </div>

      <ngx-sonner-toaster richColors position="top-right" />

    </div>

  </div>
</div>
